@charset "UTF-8";

article{
  margin-bottom: 30px;
}

article h1{
  font-family:arial;
  background-color: rgba(0,0,0,0.3);
  color: white;
  font-size: 24pt;
  padding: 5px;
}

article p{

  font-family:arial;
  text-align: justify;
  text-indent: 20px;
  font-size: 14pt;

}

article img{
  display: block;
  float:left;
  height: 200px;
  margin-right: 20px;
}


section#conteudo{
  width: 800px;
  margin:auto;
}

iframe#planetas-info{
  width: 600px;
  height:300px;
  border:none;
}

iframe#planetas-info::-webkit-scrollbar{
  display:none;
}
